<div class="register row">
	<form class="col s12" method="post" action="">
		<div class="row">
			<div class="input-field col s12">
				<input id="name" type="text" class="validate" required/>
				<label for="last_name">Name</label>
			</div>
			<div class="input-field col s12">
				<input type="text" class="validate" id="account" required/>
				<label for="last_name">Account</label>
			</div>
			<div class="input-field col s12">
				<input type="password" class="validate" id="passwd" required/>
				<label for="last_name">Password</label>
			</div>
			<div class="input-field col s12">
				<input type="password" class="validate" id="rePasswd" required/>
				<label for="last_name">Password again</label>
			</div>
			<div class="input-field col">
				<button class="btn waves-effect waves-light" id="submit"type="submit" name="action" disabled="disabled">Submit
					<i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
